<!doctype html>
<html lang="en" ng-app="regApp" >  
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="libs/jquery.js"></script> 
<!-- 	<script src="javaScript/preload.js"></script>  -->
	
 
	<!-- for scroll -->
<!-- 	<link rel="stylesheet" href="libs/scroll/jquery.mCustomScrollbar.css">
	<script src="libs/scroll/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="libs/scroll/setScroll.js"></script>		
	<style> html, body{ height: 100%; } </style>  -->
	
<!-- 	 carusel -->
	  
    <link rel="stylesheet" type="text/css" href="libs/carusel/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="libs/carusel/slick/slick-theme.css"> 
    <link rel="stylesheet" type="text/css" href="libs/carusel/slick/settings/options.css"> 
	
	
</head>

<body ng-controller="main"  >
  <!-- id="indexContainer"  -->
<div ng-init="adminFlag=1" class="container-fluid" > 
	<a ng-href="#!/cmp" ng-show="cmpArr" ><div id="cmpBtn"   >  Сравнить выбранные товары  </div></a>
	
 
	<!-- <div  class="headAndFooter"  >
	
		<div >
			<img src="imgs\design\header.jpg" alt=""   >
			<ul id="headerMenu"  >  
				<li id="li1" ><a href="#!/main" style="color:#e1ff44">Главная</a></li>
				<li id="li2" ><a href="#!/advantage" style="color:#4ff" >Преимущества</a></li>
				<li id="li3" ><a href="#!/share" style="color:#f6f">Акции</a></li>	
				<li id="li4" ><a style="color:#f61; cursor:pointer; " id="contacts">Контакты</a></li>	
			</ul>
		</div>
		
		<div  id="LogoCont"   > 
			<img id="headLogo"   src="imgs\design\logo.svg" alt=""> 
			<div id="lozung">Экологически чистая мебель - залог здоровья вашего ребенка</div>
		</div>
		 
	</div> -->

<div class="row indexRow"> 
	<div class="col-sm-6">
		<ul   >  
				<li id="li1" ><a href="#!/main" style="color:#e1ff44"><h1>Главная</h1></a></li>
				<li id="li2" ><a href="#!/advantage" style="color:#4ff" ><h1>Преимущества</a></li>
				<li id="li3" ><a href="#!/share" style="color:#f6f"><h1>Акции</a></li>	
				<li id="li4" ><a style="color:#f61; cursor:pointer; " id="contacts"><h1>Контакты</a></li>	
			</ul>
	</div>
	<div class="col-sm-6" id="logoCont"> 
			<img id="headLogo"   src="imgs\design\logo.svg" alt=""> <br> Экологически чистая мебель - залог здоровья вашего ребенка
			 
		</div>
	<img src="imgs\design\header.jpg" id="imgHeader" alt="">
</div>
	
	 <br/>
	 <br/>
	<div ng-view ></div> 
		<br/><br/> 
		<div id="mapContainer" ng-show="flagMap" >
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2393.711566005049!2d29.227709715265085!3d53.133323098347695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d731bbebec9621%3A0x2474539225715b99!2z0YPQuy4g0KfQvtC90LPQsNGA0YHQutCw0Y8gNDQsINCR0L7QsdGA0YPQudGB0LogMjEzODI2!5e0!3m2!1sru!2sby!4v1499066904945" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	<div id="preHeader">  
		<span>Адрес: г. Бобруйск, ул. Чонгарского 44А</span>
		<div id="map" ng-click="flagMap=1" >Карта</div> 
	</div>	
		<br/><br/>
	<div class="headAndFooter" >
		<img src="imgs\design\footer.png" alt=""> 
		 
			<ul id="phones">
				<li>Тел: +375(225)71-57-70</li>
				<li>Velcom: +375(29)677-82-28</li>
				<li>MTS: +375(33)375-38-38</li>
			</ul>
		 
	</div> 
</div>  	
</body>
			 
 
	<script src="angular/angular.js"></script>
	<script src="angular/angular-route.js"></script>
	<script src="angular/angular-animate.js"></script> 
	 <script src="javaScript/main.js"></script>	
	<script src="javaScript/route.js"></script>
	<script src="javaScript/services/cervicesItems.js"></script>
	<script src="javaScript/services/cervicesMenu.js"></script>
	<script src="javaScript/services/cervicesShare.js"></script> 
	<script src="libs/sendForm.js"></script> 

	<!-- wysiwygeditor -->
	<link rel="stylesheet" href="libs/bootstrap.min.css">
	<link rel='stylesheet' href='libs/wysiwygeditor/font-awesome.css'>
	<link rel="stylesheet" href="libs/wysiwygeditor/textAngular.css" type="text/css">
	<style> 	textarea.ta-bind {	width: 100%;} .container {text-align:auto; text-align: -webkit-auto; }	</style> 
 
		<script src='libs/wysiwygeditor/dist/textAngular-rangy.min.js'></script>  
		<script src='libs/wysiwygeditor/dist/textAngular-sanitize.min.js'></script>   
		<script src='libs/wysiwygeditor/dist/textAngular.min.js'></script>  
		 
	<!--  <div    class="container app">
		 <text-angular  ng-model="htmlcontenttwo">   </text-angular>
		<div ta-bind="text" ng-model="htmlcontenttwo" ta-readonly='disabled'></div>
	</div> -->
	
	
	 
	<link rel="stylesheet" href="style/style.css">
 
	 
	
</html>


	
	
	 
	 
		
		
	
	

 

		
	 